/* Comments */
.highlight .c1 {
  color: hsl(0, 0%, 90%, 090%);
  font-style: italic;
}
.highlight .k {
  color: hsl(50deg 89% 67%);;
  font-weight: bold;
}

/* numeric */
.highlight .m {
  color: hsl(17deg 84% 78%);
}

.highlight .n {
  color: hsl(317deg 84% 78%);
}
.highlight .nf {
  color: hsl(317deg 84% 78%);
}

.highlight .s2 {
  color: hsl(50deg 100% 83%);
}

/* operator */
.highlight .o {
  color: hsl(50deg 89% 67%);;
  font-weight: bold;
}

/* whitespace */
.highlight .w {
  color: #bbbbbb;
}

.highlight .p{
  color: hsl(0, 0%, 90%, 090%);
}
.highlight {
  font-size: 0.95em;
  line-height: 1.3em;
  background-color: hsl(0, 5%, 10%, 098%);
  border-radius: 12px;
  color: hsl(0, 0%, 90%, 090%);

}

