/*-----------------------------------------------------*/
/*
*  [filename: nehemie.css]
*
*  Project:    Research Homepage
*  Version:    0.2
*  modification:    2022-01-25 [feature: target links]
*
*/
/*-----------------------------------------------------*/


:root {

  /*----------------------------------------------------*/
  /* This root declare the base variables: dark mode
   * for small screen. A :target provide light mode and
   * media query a wider screen format below */
  /*----------------------------------------------------*/

  /* Initial Font Setting */
  /*see https://type-scale.com/ */
  --base-fontsize: 1.15rem;
  --header-scale: 1.25;
  --line-height: 1.314; /* π */

  /*----------------------------------------------------*/
  /* [Color codes]
  /*   Default
  /*    Dark theme */
  --color-bg:          hsl(204deg 013% 008%);       /* black   */
  --color-text:        hsl(000deg 000% 090%);       /* white   */
  --color-text-alt:    hsl(091deg 084% 052%);       /* green   */
  --color-border:      hsl(000deg 000% 044%);       /* grey    */
  --color-accent-text: hsl(020deg 100% 070%);       /* orange  */
  --color-accent-bg:   hsl(305deg 072% 033% / 63%); /* fuchsia */
  --color-code-text:   hsl(305deg 100% 087%);       /* rosa    */
  --color-code-bg:     hsl(000deg 000% 100% / 18%); /* transparent */
  --color-ref-link:    var(--color-accent-text) ;
  --color-ref-link-h:  hsl(305deg 100% 69%) ;
  --col-footer-text:   var(--color-text-alt);

  /*  aside */

  --aside-padding-right: 10px;
  --aside-padding-left:  10px;
  --aside-max-width: 98vw;
  --aside-font-size: 0.9em;
  --aside-text-align: center;

  --sidebar-nav-margin: 0em 0em;
  --sidebar-nav-border-left: 1px solid  var(--color-border) ;
  --sidebar-nav-border-right: 1px solid  var(--color-border) ;
  --sidebar-nav-position: relative;

  --sidebar-theme-switch-size: clamp(11px, 0.85em, 0.95em);;
  --sidebar-theme-switch-justify-self: right;

  --sidebar-address-margin: 0em 0em;
  --sidebar-address-border-top: inherit ;
  --sidebar-address-border-bottom: inherit;
  --sidebar-address-justify-self: center;

  --colophon-h2-size: clamp(11px, 0.85em, 0.95em);
  --colophon-writing-mode-rsecond: lr;
  --colophon-transform-rsecond: translate(3em, 0.5em);
  --colophon-transform-rthird: translate(1em, 1em);
  --colophon-transform-rforth: translate(6em, 0em);
  --colophon-transform-rfifth: translate(8em, -2em);

}

  /*----------------------------------------------------*/
  /* [Color codes]
  /*  Preference Light */

@media (prefers-color-scheme: light) {
  :root.light {
  /* (light) theme */
  --color-bg:          hsl(0 0% 98%);           /* white     */
  --color-accent-bg:   hsl(228deg 100% 98%);    /* white     */
  --color-text:        hsl(0 0% 19%);           /* black     */
  --color-text-alt:    hsl(0 0% 35%);           /* grey      */
  --color-border:      hsl(0 19% 15%);       /* transparent black */
  --color-accent-text: hsl(22deg 100% 27%);     /* link      */
  --color-code-text:   hsl(305deg 72% 33%);     /* purple    */
  --color-ref-link:    var(--color-accent-text);
  --color-ref-link-h:  hsl(305deg 100% 31%);
  --col-footer-text:   var(--color-text-alt);
  /* (light) theme */

  }
}


  /*----------------------------------------------------*/
  /* [Typography: set user base style]
    ----------------------------------------------------*/

* {
  line-height: var(--line-height, 1.15);
  max-width: inherit ;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Noto Sans, Palatino, Open Sans, sans-serif;
  font-size: clamp(0.5em,1em,1.25em);
}

h1 {
  margin-top: 0.5em;
  font-size: 1.5em;
}

h2 {
  font-stretch: expanded;
	font-weight: 600 ;
  font-size: 1.25em;
  margin-top: 1.33em;
}

h3 {
  font-size: 1.20em;
  margin-top: 1.2em;
}

h4, h5, h6 {
  font-size: 1em;
  margin-top: 1.1em;
}

a {
  color: var(--color-ref-link) ;
  text-decoration: none;
}
a:hover {
  color: var(--color-ref-link-h) ;
}
/* Lists */
ol,
ul {
 padding-left: 20px;
}

/*----------------------------------------------------*/
 /*                 GRID CSS
  ----------------------------------------------------*/

/* ---- AREAS DEFINITION ----*/
footer  {
  grid-area: ft;
  color: var(--col-footer-text);
  border-top: 1px solid  var(--color-border) ;
  padding: 1em 0em 0em 0em;
  align-self: end;
}

.address {
  grid-area: address;
}

.icon{
  width:11px;
  height: 11px;
}
.content {
  grid-area: main;
  max-width: 35rem;
  border-top: 3px double var(--color-border);
  padding: 1em;
  justify-self: center;
}

.colophon {
  grid-area: colophon;
}

.sidebar-nav {
  grid-area: sd-nav;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 3fr 2fr 2fr ;
  grid-template-areas:
    " colophon sd-nav address"
    " colophon sd-nav switcher"
    " main main main"
    " ft ft ft" ;
    column-gap: 10px;
 align-items: start;
 align-content: start;
}


/*----------------------------------------------------*/
/* ---- AREAS RE-DEFINITION ----*/


@media (min-width: 36em) and (min-height: 20em){
  :root {
  --aside-text-align: inherit;
  --aside-max-width: 200px;
  --sidebar-nav-margin: 5em 0em;
  --aside-padding-right: 0px;
  --sidebar-address-margin: 0em 0em ;
  --sidebar-address-border-top: inherit;
  --sidebar-address-border-bottom: inherit;
  --sidebar-address-justify-self: right;

  --colophon-writing-mode-rsecond: vertical-lr;
  --colophon-transform-rsecond: translate(4em, -2.5em);
  --colophon-transform-rthird: translate(3em, -2.5em);
  --colophon-transform-rforth: translate(6em, -2.0em);
  --colophon-transform-rfifth: translate(3em, -1.5em);
  --sidebar-nav-position: sticky;
  --sidebar-nav-border-left: inherit;
  --sidebar-nav-border-right: 1px solid  var(--color-border) ;
  --sidebar-theme-switch-justify-self: left;
}


.wrapper {
  display: grid;
  min-height: 100vh;
  max-width: 98vw;
  grid-template-columns: minmax(135px, 1fr) 10fr ;
  grid-template-rows: 75px 1fr 30px;
  grid-template-areas:
    " colophon address"
    " sd-nav main"
    " switcher main"
    " ft main" ;
    column-gap: 10px;
 align-items: start;
 align-content: start;
}
} /*------------- END MEDIA --------- */


  /*----------------------------------------------------*/
  /*                 SELECTOR CSS
  ----------------------------------------------------*/

/* Date same style everywhere */
.post-date {
  border-radius: 5px;
  text-decoration: overline;
  font-size: 0.8em;
}

  /*----------------------------------------------------*/
  /* [ASIDE]
  /*  Styling for non content */
  /* Meta data line below post title */

.aside{
  padding-right:  var(--aside-padding-right);
   padding-left:  var(--aside-padding-left);
      max-width:   var(--aside-max-width);
      font-size:   var(--aside-font-size);
     text-align:   var(--aside-text-align);
 }



/* Play with subtitle  define in _config.yaml*/
.colophon h2{
  font-size: clamp(11px, 1.0em, 1.15em);
  color: var(--color-text);
}
.colophon h2:hover, h1:hover{
  filter: invert(0.5)
}
.colophon h1{
  font-size: clamp(13px, 1.15em, 1.25em);
}


.sidebar-nav {
  margin: var(--sidebar-nav-margin);
  padding: 0 1em 0em 1em;
  border-left: var(--sidebar-nav-border-left) ;
  border-right: var(--sidebar-nav-border-right) ;
  justify-self: center;
  align-self: start;
  position: var(--sidebar-nav-position);
  top: 0;
 }

.sidebar-nav::before {
  font-size: clamp(11px, 0.85em, 0.95em);
  content: "Navigation";
  margin-left: -1em;
  font-variant: small-caps;
  border-bottom: 1px solid  var(--color-border) ;
}

.sidebar-nav-item {
  display: block;
  text-align: left;
  line-height: 48px;
 }
.sidebar-nav-item.active::before {
    content: "» "
 }

address {
  margin: var(--sidebar-address-margin);
  padding: 1em 0em 1em 1em;
  border-top: var(--sidebar-address-border-top) ;
  border-bottom: var(--sidebar-address-border-bottom) ;
  justify-self: var(--sidebar-address-justify-self);
  align-self: start;
}
address::before {
  display: block;
  content: "Contact:";
  margin-left: -1em;
  margin-bottom: 0.2em;
  font-variant: small-caps;

}



.powered{
  display: inline;
  }
@media (min-width: 36em) and (min-height: 35em){
.powered {
    display: inline;

   }
}

/* CC-BY SA */
.license-image{
  padding: 1em 0em 1em 0em;
  margin-top:1em;
}
.license-image img{
  width: 80px;
  height: 15px;
}

/* Source of website */
.sites-code{
  font-size:  11px;
}

/* Building diso */
footer .timestamp{
  margin-top: 1em;
  padding-top: 1em;
  color: var(--color-text) ;
  font-size: 11px ;
  border-top: 1px solid  var(--color-border) ;

}

  /*----------------------------------------------------*/
  /* [CONTENT]
  /* important to scale code and image */
.post {
max-width: 100%;
}

.post .post-date {
  display: block;
  text-align: right;
}

  /*-Code--------------------------------------------*/
code,
pre {
  font-family: Bitstream Vera Sans Mono, Monaco, monospace;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0.2em;
}

.language-plaintext{
  color: var(--color-code-text);
  background-color: var(--color-code-bg);
  border-radius: 5px;
}

a .language-plaintext {
  text-decoration: underline;
}

figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 2px;
}

  /*introduction*/
h2#introduction{
  display: none;
}

h2#introduction  + p{
  position: relative;
  background: var(--color-code-bg);
  padding: 1em 0 1.2em 1em;
  margin-top: 2em;
  color: var(--color-text);
  border-style: none;
  font-style: oblique;
  border-radius: 2em;
}

  /*-Quotes-------------------------------*/
blockquote {
  position: relative;
  padding: 0vw 0vw 0.5vw 1vw;
  margin-left: 2vw;
  color: var(--color-text);
  border-style: outset;
  font-style: oblique;
  border-top-left-radius: 1vw 3vw;
  border-bottom-left-radius: 5vw 2vw;
}
/* Ref and Footnotes ---------------------*/
#references, #footnotes{
  text-decoration: overline;
  font-variant: small-caps;
  font-size: 1em;
}

/* Mastodont Comments ---------------------*/
.comments {
  padding: 0.2em;
  margin-bottom: 1em;
  font-size: 0.9em;
  border-top: 1px solid var(--color-border);

}

.comments h2{
  font-variant: small-caps;
  font-size: 1rem;
}


.comments p{
  display: inline;
}

.comments a.date{
    color: var(--light_primary);
    font-size: 0.9em;
}

#load-comment {
  display: block;
}

button
 {
  border-color: var(--color-border);
  border-radius: 5px;
  background: var(--color-code-bg);
  color: var(--bg);
  border-width: 2px;
  border-style: outset;
  padding: 5px;
  margin: 5px;
}
/* Related posts --------------------*/
.related {
  align-items: center;
  border-top: 3px double var(--color-border);
}

.related-posts{
  margin: 0px 0px 24px 12px ;
}
.related h2{
  font-size: 1rem;
  margin: 32px 0 0 0;
}

.related li{
  padding-top: 28px
}

.related-posts .post-date{
  white-space: nowrap;
  font-size: 0.8em;
}

/* Related tags --------------------*/

.post-tags {
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-variant: small-caps;
}

.related .post-tags {
  margin-bottom: 0.0em;
}

/* Color Switcher ---------------------*/
/* in html defition of body as id="light"
/* in html definition of following extra div as id="dark"
 * Link light targets body
 * Link dark targets section
/* light */
body:target {
  --color-bg:          hsl(0 0% 98% );          /* white     */
  --color-accent-bg:   hsl(228deg 100% 98%);    /* white     */
  --color-text:        hsl(0 0% 19%);           /* black     */
  --color-text-alt:    hsl(0 0% 35%);           /* grey      */
  --color-border:      hsl(0 19% 15%);       /* transparent black */
  --color-accent-text: hsl(22deg 100% 27%);     /* link      */
  --color-code-text:   hsl(305deg 72% 33%);     /* purple    */
  --color-ref-link:    var(--color-accent-text);
  --color-ref-link-h:  hsl(305deg 100% 31%);
  --col-footer-text:   var(--color-text-alt);
}

/* dark */
section:target {
  /*    Dark theme (repeated to revert without JS)*/
  --color-bg:          hsl(204deg 013% 008%);       /* black   */
  --color-text:        hsl(000deg 000% 090%);       /* white   */
  --color-text-alt:    hsl(091deg 084% 052%);       /* green   */
  --color-border:      hsl(000deg 000% 044%);       /* grey    */
  --color-accent-text: hsl(020deg 100% 070%);       /* orange  */
  --color-accent-bg:   hsl(305deg 072% 033% / 63%); /* fuchsia */
  --color-code-text:   hsl(305deg 100% 087%);       /* rosa    */
  --color-code-bg:     hsl(000deg 000% 100% / 18%); /* transparent */
  --color-ref-link:    var(--color-accent-text) ;
  --color-ref-link-h:  hsl(305deg 100% 69%) ;
  --col-footer-text:   var(--color-text-alt);

}

/* Link to switch -----------------------------*/
.colour-theme-switcher {
  grid-area: switcher;
  display: block;
  bottom: 0;
  right: 0;
  margin: 0.1em 0.1em 0.1em 0.1em;
  padding: 0.2em;
  justify-self: var(--sidebar-theme-switch-justify-self);
  align-self: end;
  position: var(--sidebar-nav-position);
  font-size: var(--sidebar-theme-switch-size);
  font-variant: small-caps;
  text-align: center;
}




/* Contact Box for mail and Social media-----------------*/
.contact-box {
  display: none;
}

/* Opened contact-box */
.contact-box:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lightbox content */
.contact-box figcaption {
  max-width: 90vw;
  position: relative;
  padding: 1.0em;
  background-color: var(--color-bg);
  font-size: clamp(11px, 1em, 1.2em);
  text-align: center;
}

/* Close button */
.contact-box .close {
  position: relative;
  display: block;
}

.contact-box .close::after {
  right: 0em;
  top: 0em;
  width: 2em;
  height: 2em;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-bg);
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Lightbox overlay */
.contact-box .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--color-code-bg);
  content: "";
  cursor: default;
}


/* ---- Publications ----*/
.publication h1{
text-align: center;
}

.publication h2{
text-align: center;
backdrop-filter: contrast(0.5);
}
.publication h3{
border-bottom: dotted;
}
.publication h4{
    margin: 1.1em 0 0 0;
}
.publication h4:before {
  content : "− ";
}
.publication h5 {
    display: inline;
    font-size: 0.80em;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}
.publication p{
  padding: 0.1em 2em;
  margin: 0;
}

.publication ul{
  padding: 0 4em;
  margin: 0;
}
.publication ul p{
  padding-left: 0;
}

.publication li:last-child {
  padding-bottom: 1em;
}

.publication dd{
  padding-bottom: 1em;
}

.publication details {
  margin: 0 0 1em 2em;
  padding: 0.2em 0.2em;
  outline-style: groove;
  display: inline;
white-space: pre;
}
.publication details[open] > summary {
}
