<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta property="og:title" content="Home" />
  <meta name="author" content="Néhémie" />
  <meta property="og:description" content="Nehemie's blog about archaeology, open science, statics, R, and GIS." />
  <link rel="canonical" href="{{ site.author.url }}{{ page.url | remove_first: "/"}}" />
  <meta property="og:site_name" content="Néhémie's Hub" />
  <script type="application/ld+json">
  {"@context":"https://schema.org",
  "@type":"WebSite",
  "url":"{{ site.author.url }}",
  "description":"Nehemie's blog about archaeology, open science, statistics, R, and GIS.",
  "keywords": "archaeology, open science, statistics, R, GIS",
  "copyrightNotice": "CC BY-SA 4.0",
  "copyrightHolder": {"@type":"Person",
                       "name":"Néhémie Strupler"},
  "image":"{{ site.baseurl }}/media/icon.png",
  "headline":"Néhémie's Hub",
  "author":{"@type":"Person",
              "image":"{{ site.baseurl }}/media/icon.png",
               "name":"Néhémie Strupler",
  "sameAs":["https://orcid.org/0000-0002-2898-6217",
            "https://gitlab.com/nehemie",
            "https://fosstodon.org/@nehemie"]}
             }
  </script>
 <meta name="description"
    content="Research Homepage about archaeology, open science, statics, R, and GIS">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

  <title>
    {% if page.title == "Home" %}
      {{ site.home_title }}
    {% elsif page.web_title != nil %}
      {{ page.web_title }}
    {% else %}
      {{ page.title }} ∈ {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/code_syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/nehemie.css">

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/media/icon.png">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

</head>
