<h4> {{ reference.title}}{% if reference.subtitle != nil %}. {{ reference.subtitle}}{% endif %} </h4>

{% if reference.title-english != nil %}<h5>[translated: {{ reference.title-english}} ]</h5>{% endif %}

{% if reference.editor != nil %} (ed) {% for editor in reference.editor %} {{ editor.given }} {{ editor.family }}, {% endfor %} {% endif %}
*{{reference.container-title}}*{% if reference.series != nil %}, {{ reference.series}} {% endif %} {{reference.volume}} {% if reference.page != nil %}: {{ reference.page}} {% endif %}

  {% if reference.DOI != nil %} - DOI: [{{ reference.DOI }}]({{ reference.URL }}){% endif %}
  {% if reference.preprint != nil %}- preprint: [{{ reference.HALid }}]({{ reference.preprint }}){% endif %}
  {% if reference.webpage != nil %}- webpage: [{{ reference.webpage }}]({{ reference.webpagelink }}){% endif %}
  - Wikidata: [{{ reference.wikidata }}]( {{ reference.wikidata | prepend: site.data.links.wikidata_baseurl }})
  - Copyright: {{ reference.copyright }}

{% assign reference_bib =  reference.id | prepend:'bibfiles/' | append:'.bib' %}

 <details>
 <summary>Bibtex snippet</summary>
{% include {{reference_bib}} %}
 </details>

