<div class="colophon swag aside">
  <a href="{{ site.url }}"  id="nav-top">
  <h1> {{ site.title }} </h1>
   <h2> {{site.description}} </h2> </a>
</div> <!--colophon sidebar -->

<div class="sidebar-nav swag aside">
   {% comment %}
      generates a sidebar nav of pages with
   {% endcomment %}

   {% assign pages_list = site.pages %}
   {% for node in pages_list %}
     {% if node.title != null %}
       {% if node.layout == "page" or node.layout == "publications" %}
       <a class="sidebar-nav-item{% if page.url == node.url %} active{%
         endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
       {% endif %}
     {% endif %}
   {% endfor %}

</div> <!--sidebar-nav -->

<div class="colour-theme-switcher swag aside"> Mode <br>

      <a href="#dark" title="Dark mode" class="darken">Dark</a> |
      <a href="#light" title="Light mode" class="lighten">Light</a>
</div> <!--theme-switcher -->

<!-- boxes -->
<div class="contact-box" id="mail-contact">
  <figure>
  <a href="{{ site.url }}" class="close">.</a>
    <figcaption>
        Mailto: <a href="mailto:{{ site.author.email }}"> {{ site.author.email }} </a>
    </figcaption>
  </figure>
</div>
<div class="contact-box" id="social-contact">
  <figure>
    <a href="{{ site.url }}" class="close">.</a>
    <figcaption>
       Redirect to: <a href="{{ site.author.mastodon }}"> {{ site.author.mastodon }} </a>
    </figcaption>
  </figure>
</div><!-- /boxes -->

<address class="swag aside">
  <a href="#mail-contact"> Email Me </a>,
  <a href="#social-contact"> μBlog me </a> <br>
  or follow the feed&nbsp;&nbsp;<a href="/feed.xml" aria-label="My RSS feed"><svg class="icon"
      aria-hidden="true" viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg"><path
      fill="currentColor" d="M4.259 23.467c-2.35 0-4.259
      1.917-4.259 4.252 0 2.349 1.909 4.244 4.259 4.244 2.358 0
      4.265-1.895
      4.265-4.244-0-2.336-1.907-4.252-4.265-4.252zM0.005
      10.873v6.133c3.993 0 7.749 1.562 10.577 4.391 2.825 2.822
      4.384 6.595 4.384
      10.603h6.16c-0-11.651-9.478-21.127-21.121-21.127zM0.012
      0v6.136c14.243 0 25.836 11.604 25.836
      25.864h6.152c0-17.64-14.352-32-31.988-32z"></path></svg></a>
</address>


