---
layout: page
---

  {% if site.tags[page.slug] %}
  <ul>
    {% for post in site.tags[page.slug] %}
    <li> {{ post.date | date_to_string }} &raquo; <a href="{{ post.url }}"> {{ post.title }} </a> </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no posts in this tag.</p>
  {% endif %}
