<!DOCTYPE html>
{% if page.lang != null and MyString != "" %}
<html lang={{page.lang}}>
{% else %}
<html lang="en">{% endif %}




  {% include head.html %}

  <body id="light">
  <section id="dark"> <!--colour switcher back -->
<div class="wrapper">

    {% include sidebar.html %}

    <div class="content container" id="top">
      {{ content }}
    </div>
    {% include footer.html %}
</div> <!-- wrapper -->
  </section> <!--dark switcher -->
  </body><!--light switcher -->
</html>
