---
layout: default
---
{% assign post = page %}

  {% if page.tags.size > 0 %}
    {% capture tag_content %} Tag{% if page.tags.size > 1 %}s{% endif %}: {% endcapture %}
    {% for post_tag in page.tags %}
      {% assign tag = site.my_tags | where: "slug", post_tag %}
      {% if tag %}
        {% assign tag = tag[0] %}
        {% capture tag_content_temp %}{{ tag_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tag_content = tag_content_temp %}
      {% endif %}
    {% endfor %}
  {% endif %}


<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.tags.size > 0 %}
  <span class=post-tags>
  {{ tag_content_temp }}
  </span>  {% endif %}


<span class="post-date">
Date:
<time datetime="{{ page.date | date_to_xmlschema }}" style="white-space: nowrap;">{{ page.date | date: "%Y-%m-%d" }}</time>
</span> <!-- /post-date -->


  {{ content }}

 </div>


{% if page.comments.show %}
<section class="comments">
  <h2>Comments</h2>
  Leave a<a class="button" href="https://{{ page.comments.fediHost
    }}/interact/{{ page.comments.fediid }}?type=reply">
    comment on this post</a> (via a Mastodon account).
  <button id="load-comment">Load
    comments (with JavaScript, but without images)</button>
  <ul id="mastodon-comments-list">
    <script src="/libs/js/purify.min.js"></script>
    <script>
    function escapeHtml(unsafe) {
      return unsafe
           .replace(/&/g, "&amp;")
           .replace(/</g, "&lt;")
           .replace(/>/g, "&gt;")
           .replace(/"/g, "&quot;")
           .replace(/'/g, "&#039;");
    }

    document.getElementById("load-comment").addEventListener("click", function() {
      document.getElementById("load-comment").innerHTML = "Loaded Comments:";
      fetch('https://{{ page.comments.fediHost }}/api/v1/statuses/{{ page.comments.fediid }}/context')
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          if(data['descendants'] &&
             Array.isArray(data['descendants']) &&
            data['descendants'].length > 0) {
              document.getElementById('mastodon-comments-list').innerHTML = "";
              data['descendants'].forEach(function(reply) {
                reply.account.display_name = escapeHtml(reply.account.display_name);
                reply.account.emojis.forEach(emoji => {
                  reply.account.display_name = reply.account.display_name.replace(`:${emoji.shortcode}:`,
                    ``);
                });
                mastodonComment =
                  `
   <li>(<a class="date" href="${reply.uri}" rel="nofollow">${reply.created_at.substr(0, 10)}</a>)
                    <span class="author">
                         <a href="${reply.account.url}" rel="nofollow"> ${escapeHtml(reply.account.acct)}</a>:
                       ${reply.content}
     </li>

                   `;
                document.getElementById('mastodon-comments-list').appendChild(DOMPurify.sanitize(mastodonComment, {'RETURN_DOM_FRAGMENT': true}));
              });
          } else {
            document.getElementById('mastodon-comments-list').innerHTML = "<p>No comments</p>";
          }
        });
      });
  </script>
 </ul> 
</section>
  {% endif %}

<nav class="related">
  <h2>More Posts:</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
          <a href="{{ post.url }}">
            {{ post.title }}
            <span class=post-date><small>
            <time datetime="{{ post.date | date_to_xmlschema }}"
              style="white-space: nowrap;">{{ post.date |
              date_to_string  }}</time></small></span>
          </a>
      </li>
    {% endfor %}
  </ul>
  {% if page.tags.size > 0 %}
  <span class=post-tags>
  {{ tag_content_temp }}
  </span>  {% endif %}
</nav>
