---
layout: default
---

<div class="page publication">
  <h1 class="page-title">{{ page.title }}
  of {{ site.author.name }} {{ site.author.surname }}</h1>
  {{ content | remove: "<p>" | remove: "</p>"  }}
</div>
